<html>
    <h1> Data Science Tools and Ecosystem </h1>
</html>

<html>
    <h3> In this notebook, Data Science Tools and Ecosystem are summarized. </h3>
</html>

<html>
    <h3> <b> Objectives: </b> </h3>
    <ul>
        <li> List popular languages for Data Science </li>
        <li> List commonly used libraries used by Data Scientists </li>
        <li> Few examples of evaluating arithmetic expressions in Python </li>    
    </ul>
</html>

<html>
    <h4> Some of the popular languages that Data Scientists use are: </h4>
    <ol> 
        <li> Python </li>
        <li> R  </li>
        <li> SQL </li>
        <li> PySpark  </li>
    </ol>
</html>

<html>
    <h4> Some of the commonly used libraries used by Data Scientists include: </h4>
    <ol> 
        <li> Numpy </li>
        <li> Pandas  </li>
        <li> Sklearn </li>
        <li> Tensorflow  </li>
        <li> Keras  </li>
    </ol>
</html>

<html>
    <table>
        <tr><td> Data Science Tools </td></tr>
        <tr><td> RStudio </td></tr>
        <tr><td> Apache Spark </td></tr>
        <tr><td> TensorFlow </td></tr>
    </table>
</html>

<html>
    <h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>
</html>

In [1]:
### This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
### This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<html>
    <h3> Author : Patrick MAIRLOT-MBEZELE </h3>
</html>